.Cart {
  margin: 0 10px;
  margin-bottom: 20px;

  .ant-image {
    width: 100%;
  }
}
.Description {
  cursor: pointer;
}
.Price {
  color: #333333bf;
  font-weight: 600;
}
.Name {
  font-size: 17px;
  padding: 10px 0 5px 0;
  font-weight: 600;
}
